/* Estilos para o corpo do site */
body {
  font-family: "Calibri", sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para o cabeçalho */
header {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px; /* Reduzindo o espaçamento interno */
}

header h1 {
  margin: 0;
  color: #333;
  font-size: 0.8em; /* Reduzindo o tamanho da fonte */
}

/* Estilos para as seções */
section {
  padding: 10px;
  margin: 10px; /* Reduzindo a margem */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para links de navegação */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav ul li {
  margin: 0 5px; /* Reduzindo a margem */
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-size: 0.7em; /* Reduzindo o tamanho da fonte */
}

/* Estilos para os títulos das seções */
h2 {
  color: #333;
  font-size: 0.9em; /* Reduzindo o tamanho da fonte */
}

/* Estilos para o texto das seções */
p {
  color: #666;
  font-size: 0.8em; /* Reduzindo o tamanho da fonte */
}
