/* Estilo para a receita */
.recipe {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: calc(30% - 20px); /* Ajuste a largura conforme necessário */
    box-sizing: border-box;
    text-align: center; /* Centraliza o conteúdo */
    margin-bottom: 20px; /* Adicione um espaço na parte inferior para criar uma lacuna */
}

/* Ajustes na imagem da receita */
.recipe img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Ajuste a altura máxima conforme necessário */
    object-fit: cover;
    border-radius: 20px; /* Borda redonda para todas as imagens */
    border: none; /* Remover a borda */
}

/* Efeito de escala no hover para destacar a receita */
.recipe:hover {
    transform: scale(1.05);
}

/* Centralizando o título da receita */
.recipe-name {
    font-weight: bold;
    color: #343a40;
    margin-top: 10px;
    text-align: center;
}

/* Alinhando o texto abaixo da imagem */
.recipe-description {
    color: #555; /* Cor do texto */
    margin-top: 10px; /* Espaço entre o título e a descrição */
}

/* Remover sublinhado padrão dos links */
.recipe-link {
    text-decoration: none;
}
