/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Estilos para as imagens */

header {
    background-color: #33413d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:#ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    
    
}

.featured-recipes {
    text-align: center;
}

.featured-recipes h2 {
    margin: 0 0 20px;
}

.recipe {
    display: inline-block;
    margin: 0 20px;
    text-align: left;
    background-color: #ffffff;
}

.recipe img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    border: 3px solid #33413d;
}

.recipe h3 {
    margin: 10px 0;
}

.recipe p {
    color: #555;
}

.recipe a {
    display: block;
    background-color: tomato;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 12px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-family: unset;
    border: 3px solid #33413d;
    
}

.recipe a:hover {
    background-color: #638133;
    text-decoration: none;
    
}

.active {
    font-weight: bold;
}

.hero {
    background-color: #fce2c5;
    padding: 40px;
    background-image: url('https://media.istockphoto.com/id/475511846/vector/kitchen-seamless-pattern-vector-background.jpg?s=612x612&w=0&k=20&c=inpW5Mc2MFyuc7PsMXVY49OUBU39EXekcCNe8xVeI_k=');
    border-radius: 12px;
    backdrop-filter: blur(10px);
    font-family:unset;
    border:3px solid #33413d;
}

.featured-recipes {
    text-align: center;
}

.recipe {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    border: 3px solid tomato;
    box-shadow: 0 0 10px#13090049;
}

footer {
    background-color: #33413d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}