/* Seu CSS existente... */

.scrollable-text {
    max-height: 300px; /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto;
}

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin-top: 60px;
}

.container {
    margin-top: 70px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Mantém uma proporção 16:9 */
    height: 0;
    overflow: hidden;
    margin-top: 20px; /* Adiciona margem superior ao vídeo */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.recipe-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2, h4 {
    color: #343a40;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

.recipe-container {
    max-height: 400px;
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.col-md-6 {
    margin-bottom: 20px; /* Ajusta o espaço entre as colunas */
}
